@import "tailwindcss";

* {
  margin: 0;
  padding: auto;
  box-sizing: border-box;
  font-family: "Poppins", serif;

}



html, body {

  min-height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;
  overflow-x: hidden; /* Remove scroll horizontal */
  width: 100%; /* Evita que algum elemento fique maior que a tela */
}
